.calculator{
    width: 349px;
    height: 600px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.calculator .history {
    width: 100%;
    min-height: 50px;
    background-color: yellowgreen;
}
.calculator .result{
    width: 100%;
    flex: auto;
    background-color: #222121;
}
.calculator .keyboard{
    width: 100%;
    min-height: 10px;
    background-color: black;
}